In [62]:
import datetime
import pandas as pd
import numpy as np
from sklearn.metrics import jaccard_score
import operator

In [63]:
dataTr = pd.read_csv('dataTr.csv')

In [64]:
dataTr.columns =['Index', 'Rank', 'Name', 'City', 'State', 'PubOrPriv',
                 'UndergradPop', 'StudentPop', 'NetPrice', 'AverageGrantAid', 'TotalAnnualCost', 'AlumniSalary', 'AcceptanceRate', 'SATLower', 'SATUpper', 'ACTLower', 'ACTUpper', 'Website']
dataTr.head()

,Index,Rank,Name,City,State,PubOrPriv,UndergradPop,StudentPop,NetPrice,AverageGrantAid,TotalAnnualCost,AlumniSalary,AcceptanceRate,SATLower,SATUpper,ACTLower,ACTUpper,Website
0,0,1.0,Harvard University,Cambridge,MA,Private,13844.0,31120.0,14327.0,49870.0,69600.0,146800.0,5.0,1460.0,1590.0,32.0,35.0,www.harvard.edu
1,1,2.0,Stanford University,Stanford,CA,Private,8402.0,17534.0,13261.0,50134.0,69109.0,145200.0,5.0,1390.0,1540.0,32.0,35.0,www.stanford.edu
2,2,3.0,Yale University,New Haven,CT,Private,6483.0,12974.0,18627.0,50897.0,71290.0,138300.0,7.0,1460.0,1580.0,32.0,35.0,www.yale.edu
3,3,4.0,Massachusetts Institute of Technology,Cambridge,MA,Private,4680.0,11466.0,20771.0,43248.0,67430.0,155200.0,7.0,1490.0,1570.0,33.0,35.0,web.mit.edu
4,4,5.0,Princeton University,Princeton,NJ,Private,5659.0,8273.0,9327.0,48088.0,66150.0,139400.0,6.0,1430.0,1570.0,31.0,35.0,www.princeton.edu

In [65]:
# Adding extra columns

# Location
Northeast = ['PA', 'NY', 'NJ', 'ME', 'NH', 'VT', 'MA', 'CT', 'RI']
Midwest = ['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'IN', 'MI', 'OH']
South = ['OK', 'TX', 'AR', 'LA', 'KY', 'TN', 'MS', 'AL', 'WV', 'MD', 'VA', 'DC', 'NC', 'SC', 'GA', 'AL', 'FL', 'DE']
West = ['WA', 'OR', 'CA', 'NV', 'ID', 'MT', 'WY', 'UT', 'AZ', 'NM', 'CO']

# Cost
# $5,000 - $15,000 → 0
# $15,001 - $30,000 → 1
# $30,001 - $45,000 → 2
# $45,001 - $60,000 → 3
# $60,001 - $75,000 → 4

for index, row in dataTr.iterrows():
    size = dataTr.loc[index]['StudentPop']
    if (size < 5000):
        dataTr.loc[index,'Size'] = 'Small'
        dataTr.loc[index,'SizeNum'] = 0
    elif (size >= 5000 and size < 15000):
        dataTr.loc[index,'Size'] = 'Medium'
        dataTr.loc[index,'SizeNum'] = 1
    else:
        dataTr.loc[index,'Size'] = 'Large'
        dataTr.loc[index,'SizeNum'] = 2
    
    state = dataTr.loc[index]['State']
    if (state in Northeast):
        dataTr.loc[index,'Location'] = 'Northeast'
        dataTr.loc[index,'LocationNum'] = 0
    elif (state in Midwest):
        dataTr.loc[index,'Location'] = 'Midwest'
        dataTr.loc[index,'LocationNum'] = 1
    elif (state in South):
        dataTr.loc[index,'Location'] = 'South'
        dataTr.loc[index,'LocationNum'] = 2
    else:
        dataTr.loc[index,'Location'] = 'West'
        dataTr.loc[index,'LocationNum'] = 3
        
    pubPrivStatus = dataTr.loc[index]['PubOrPriv']
    if (pubPrivStatus == 'Private'):
        dataTr.loc[index,'pubOrPrivNum'] = 1
    else:
        dataTr.loc[index,'pubOrPrivNum'] = 0
        
    
    cost = dataTr.loc[index]['TotalAnnualCost']
    if (cost <= 15000):
        dataTr.loc[index,'Cost'] = 0
    elif (cost > 15000 and cost <= 30000):
        dataTr.loc[index,'Cost'] = 1
    elif (cost > 30000 and cost <= 45000):
        dataTr.loc[index,'Cost'] = 2
    elif (cost > 45000 and cost <= 60000):
        dataTr.loc[index,'Cost'] = 3
    else:
         dataTr.loc[index,'Cost'] = 4

In [66]:
dataTr

,Index,Rank,Name,City,State,PubOrPriv,UndergradPop,StudentPop,NetPrice,AverageGrantAid,...,SATUpper,ACTLower,ACTUpper,Website,Size,SizeNum,Location,LocationNum,pubOrPrivNum,Cost
0,0,1.0,Harvard University,Cambridge,MA,Private,13844.0,31120.0,14327.0,49870.0,...,1590.0,32.0,35.0,www.harvard.edu,Large,2.0,Northeast,0.0,1.0,4.0
1,1,2.0,Stanford University,Stanford,CA,Private,8402.0,17534.0,13261.0,50134.0,...,1540.0,32.0,35.0,www.stanford.edu,Large,2.0,West,3.0,1.0,4.0
2,2,3.0,Yale University,New Haven,CT,Private,6483.0,12974.0,18627.0,50897.0,...,1580.0,32.0,35.0,www.yale.edu,Medium,1.0,Northeast,0.0,1.0,4.0
3,3,4.0,Massachusetts Institute of Technology,Cambridge,MA,Private,4680.0,11466.0,20771.0,43248.0,...,1570.0,33.0,35.0,web.mit.edu,Medium,1.0,Northeast,0.0,1.0,4.0
4,4,5.0,Princeton University,Princeton,NJ,Private,5659.0,8273.0,9327.0,48088.0,...,1570.0,31.0,35.0,www.princeton.edu,Medium,1.0,Northeast,0.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,518,645.0,Morehouse College,Atlanta,GA,Private,2202.0,2219.0,34928.0,17318.0,...,1160.0,18.0,23.0,https://www.morehouse.edu,Small,0.0,South,2.0,1.0,3.0
519,519,646.0,New Mexico State University,Las Cruces,NM,Public,13379.0,14432.0,8625.0,9582.0,...,1160.0,18.0,23.0,www.nmsu.edu,Medium,1.0,West,3.0,0.0,2.0
520,520,647.0,Indiana State University,Terre Haute,IN,Public,13626.0,13763.0,13012.0,9297.0,...,1110.0,17.0,23.0,www.indstate.edu,Medium,1.0,Midwest,1.0,0.0,2.0
521,521,648.0,Emory and Henry College,Emory,VA,Private,1094.0,1226.0,19340.0,27155.0,...,1170.0,19.0,25.0,www.ehc.edu,Small,0.0,South,2.0,1.0,3.0
522,522,650.0,Catawba College,Salisbury,NC,Private,1336.0,1463.0,19807.0,23662.0,...,1100.0,18.0,23.0,www.catawba.edu,Small,0.0,South,2.0,1.0,2.0

In [67]:
# print(dataTr['Size'].value_counts())
# print(dataTr['Location'].value_counts())
# print(dataTr['satAvg'].value_counts())
# print(dataTr['actAvg'].value_counts())
# print(dataTr['NetPrice'].value_counts())
# print(dataTr['AcceptanceRate'].max())

In [68]:
allGradData = pd.read_csv('grad.csv')
allGradData.drop(columns=allGradData.columns[0], 
        axis=1, 
        inplace=True)
allGradData.head()

    greV   greQ  greA  cgpa                          univName
0  150.0  166.0   3.0  4.00             Ohio State University
1  157.0  151.0   5.5  3.57              Texas A&M University
2  155.0  167.0   4.0  3.66  University Of California, Irvine
3  161.0  157.0   4.0  3.10                 Boston University
4  154.0  170.0   4.0  3.38           Oregon State University

In [69]:
#cleaning data

dataTr['Name'].replace('Texas AandM University, College Station', 'Texas A&M University', inplace=True)
allGradData['univName'].replace(['University Of California, Irvine','UC Irvine'], 'University of California, Irvine', inplace=True)
allGradData['univName'].replace(['University Of Texas At Austin', 'UT Austin', 'University Of Texas At Austin (UT Austin)'], 'University of Texas, Austin', inplace=True)
allGradData['univName'].replace('University Of Texas At Dallas', 'University of Texas, Dallas', inplace=True)
allGradData['univName'].replace(['North Carolina State University', 'NCSU (North Carolina State University)', 'North Carolina State University (NCSU)'], 'North Carolina State University, Raleigh', inplace=True)
allGradData['univName'].replace(['University Of Californa, Los Angeles (UCLA)', 'University Of California, Los Angeles (UCLA)', 'UCLA'], 'University of California, Los Angeles', inplace=True)
allGradData['univName'].replace(['University Of Wisconsin-Madison', 'University Of Wisconsin - Madison', 'University Of Wisconsin, Madison', 'The University Of Wisconsin - Madison'], 'University of Wisconsin, Madison', inplace=True)
allGradData['univName'].replace('Purdue University - West Lafayette', 'Purdue University', inplace=True)
allGradData['univName'].replace(['University Of Washington', '"University Of Washington Seattle'], 'University of Washington, Seattle', inplace=True)
allGradData['univName'].replace(['UC San Diego (UCSD)', 'UCSD (University Of California, San Diego)', 'UCSD', 'University Of California, San Diego (UCSD)'], 'University of California, San Diego', inplace=True)
allGradData['univName'].replace('Indiana University Bloomington', 'Indiana University, Bloomington', inplace=True)
allGradData['univName'].replace(['University Of California, Davis', 'Uc Davis', 'UC Davis'], 'University of California, Davis', inplace=True)
allGradData['univName'].replace(['University Of Illinois At Urbana-Champaign', 'UIUC'], 'University of Illinois, Urbana-Champaign', inplace=True)
allGradData['univName'].replace('University Of Colorado Boulder', 'University of Colorado Colorado Springs', inplace=True)
allGradData['univName'].replace('Washington University in St. Louis (WashU/WUSTL)', 'Washington University in St. Louis', inplace=True)
allGradData['univName'].replace('Carnegie Mellon University (CMU)', 'Carnegie Mellon University', inplace=True)
allGradData['univName'].replace(['UC Berkeley','University Of California, Berkeley (UCB)'], 'University of California, Berkeley', inplace=True)
allGradData['univName'].replace(['Penn State (Pennsylvania State University)', 'Penn State University'], 'Pennsylvania State University', inplace=True)
allGradData['univName'].replace(['University Of Southern California (USC)', 'USC', 'The University Of Southern California (USC)', 'University Of Southern California'], 'University Of Southern California', inplace=True)
allGradData['univName'].replace('University Of Florida (Gainesville)', 'University of Florida', inplace=True)
allGradData['univName'].replace('UNC Chapel Hill', 'University of North Carolina, Chapel Hill', inplace=True)
allGradData['univName'].replace('The Ohio State University', 'Ohio State University', inplace=True)
allGradData['univName'].replace('Virginia Polytechnic And State University (Virginia Tech)', 'Virginia Tech', inplace=True)
allGradData['univName'].replace('New York University (NYU)', 'New York University', inplace=True)
allGradData['univName'].replace('(Arizona State University) ASU', 'Arizona State University, Tempe', inplace=True)
allGradData['univName'].replace('(SUNY) University At Buffalo', 'University at Buffalo (SUNY)', inplace=True)
allGradData['univName'].replace('Carnegie  Mellon University (CMU)', 'Carnegie Mellon University', inplace=True)
allGradData['univName'].replace('University Of Minnesota - Twin Cities (UMN)', 'University of Minnesota, Twin Cities', inplace=True)
allGradData['univName'].replace('Ohio State University (OSU)', 'Ohio State University', inplace=True)
allGradData['univName'].replace('University Of Pennsylvania (UPenn)', 'University of Pennsylvania', inplace=True)
allGradData['univName'].replace('Columbia  University', 'Columbia University', inplace=True)
allGradData['univName'].replace('University Of Virginia', 'University of Virginia', inplace=True)
allGradData['univName'].replace('University Of Colorado, Boulder', 'University of Colorado, Boulder', inplace=True)
allGradData['univName'].replace('University Of Michigan', 'University of Michigan, Ann Arbor', inplace=True)
allGradData['univName'].replace('University Of Minnesota', 'University of Minnesota, Twin Cities', inplace=True)
allGradData['univName'].replace('Arizona State University', 'Arizona State University, Tempe', inplace=True)
allGradData['univName'].replace('Colorado State University', 'Colorado State University, Fort Collins', inplace=True)
allGradData['univName'].replace('The University Of Chicago', 'University Of Chicago', inplace=True)
allGradData['univName'].replace('Stony Brook University', 'SUNY, Stony Brook (Stony Brook University)', inplace=True)

boston = allGradData['univName'].str.contains('Boston University', case=False)
allGradData.loc[boston, 'univName'] = 'Boston University'

# allGradData['univName'].loc[allGradData['univName'].str.contains('Boston University', case=False)] = 'Boston University'
allGradData.loc[allGradData['univName'].str.contains('University Of Maryland', case=False)] = 'University of Maryland, College Park'

allGradData['univName'] = allGradData['univName'].str.title()
allGradData['univName'] = allGradData['univName'].str.strip()
dataTr['Name'] = dataTr['Name'].str.strip()
dataTr['Name'] = dataTr['Name'].str.title()

allGradData = allGradData[allGradData.univName != 'Mcgill University']
allGradData = allGradData[allGradData.univName != 'University Of Toronto']
allGradData = allGradData[allGradData.univName != 'University Of Arizona']
allGradData = allGradData[allGradData.univName != 'University Of Kansas']
allGradData = allGradData[allGradData.univName != 'Rutgers University']
allGradData = allGradData[allGradData.univName != 'Temple University']
allGradData = allGradData[allGradData.univName != 'University Of Oxford']

In [70]:
grads = allGradData['univName'].unique()
# print(len(grads))
# There are 78 grad schools after cleaning

common = set(grads) & set(dataTr['Name'])
# print(common)

#remove non grad schools from Tr
dataTr = dataTr[dataTr['Name'].isin(common)]

print(len(dataTr))
dataTr

# Index column is inaccurate as its from the earlier dataset, reset it or dont use

78

,Index,Rank,Name,City,State,PubOrPriv,UndergradPop,StudentPop,NetPrice,AverageGrantAid,...,SATUpper,ACTLower,ACTUpper,Website,Size,SizeNum,Location,LocationNum,pubOrPrivNum,Cost
0,0,1.0,Harvard University,Cambridge,MA,Private,13844.0,31120.0,14327.0,49870.0,...,1590.0,32.0,35.0,www.harvard.edu,Large,2.0,Northeast,0.0,1.0,4.0
1,1,2.0,Stanford University,Stanford,CA,Private,8402.0,17534.0,13261.0,50134.0,...,1540.0,32.0,35.0,www.stanford.edu,Large,2.0,West,3.0,1.0,4.0
2,2,3.0,Yale University,New Haven,CT,Private,6483.0,12974.0,18627.0,50897.0,...,1580.0,32.0,35.0,www.yale.edu,Medium,1.0,Northeast,0.0,1.0,4.0
4,4,5.0,Princeton University,Princeton,NJ,Private,5659.0,8273.0,9327.0,48088.0,...,1570.0,31.0,35.0,www.princeton.edu,Medium,1.0,Northeast,0.0,1.0,4.0
5,5,6.0,University Of Pennsylvania,Philadelphia,PA,Private,13437.0,25367.0,24242.0,44801.0,...,1560.0,32.0,35.0,www.upenn.edu,Large,2.0,Northeast,0.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,253,308.0,University Of Kentucky,Lexington,KY,Public,23718.0,29465.0,18527.0,9387.0,...,1330.0,22.0,28.0,www.uky.edu,Large,2.0,South,2.0,0.0,3.0
257,257,313.0,University Of Cincinnati,Cincinnati,OH,Public,28857.0,37155.0,22828.0,7045.0,...,1340.0,23.0,28.0,www.uc.edu,Large,2.0,Midwest,1.0,0.0,2.0
418,418,513.0,Georgia State University,Atlanta,GA,Public,29773.0,32816.0,15506.0,10090.0,...,1220.0,19.0,26.0,www.gsu.edu,Large,2.0,South,2.0,0.0,2.0
440,440,544.0,University Of Colorado Colorado Springs,Colorado Springs,CO,Public,12932.0,14122.0,15872.0,5682.0,...,1250.0,21.0,26.0,www.uccs.edu,Medium,1.0,West,3.0,0.0,2.0
486,486,601.0,Wayne State University,Detroit,MI,Public,20314.0,27064.0,12970.0,9682.0,...,1210.0,21.0,28.0,wayne.edu,Large,2.0,Midwest,1.0,0.0,2.0

In [71]:
# dataTr.to_csv('finalData.csv')
allGradData.to_csv('cleanedGradData.csv')